* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#myDiv {
  width: 200px;
  height: 200px;
  background-color: cadetblue;
  padding: 10px; }

#myBtn {
  padding: 12px 48px;
  background-color: brown;
  cursor: pointer;
  outline: none; }
